<launch>
    <arg name="x" default = "1" />
    <arg name="y" default = "1" />
    <arg name="tol" default = "0.1" />

    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node_JB">
        <remap from="turtle1/cmd_vel" to="nodeJB_cmdvel"/>
    </node>

    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node_HP">
        <remap from="turtle1/cmd_vel" to="nodeHP_cmdvel"/>
    </node>

    <node pkg="turtlesim_cleaner" type="gotogoal.py" name="gotogoal_JB">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="tol" value="$(arg tol)"/>
        <remap from="turtle1/cmd_vel" to="nodeJB_cmdvel"/>
    </node>

    <node pkg="turtlesim_cleaner" type="gotogoal.py" name="gotogoal_HP">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="tol" value="$(arg tol)"/>
        <remap from="turtle1/cmd_vel" to="nodeHP_cmdvel"/>
    </node>
</launch>